/*BARRA DE NAVEGACIÓN*/
.navbar {
    font-size: larger;
    display: flex;
    background-color: rgb(50, 50,50);
  }

#item {
  color: aliceblue;
  margin:10px
}
  

  
  nav li {
    display: inline;
    font-size: larger;
    align-self: center;
    align-items: center;
  }
  